services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: tutorial
      POSTGRES_PASSWORD: tutorial
      POSTGRES_DB: tutorial
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  api:
    build:
      context: ../apps/api
      dockerfile: Dockerfile
    ports:
      - "18000:8000"
    env_file:
      - ./.env.api
    depends_on:
      - db

volumes:
  postgres_data:
