services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: tutorial
      POSTGRES_PASSWORD: tutorial
      POSTGRES_DB: tutorial
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:8.4.0
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "PING"]
      interval: 5s
      timeout: 3s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.7.7
    environment:
      CLUSTER_ID: Kk4i7rXxS8e3y2pQ0mXzYw
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    ports:
      - "9095:9092"

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    ports:
      - "8085:8080"

  mongodb:
    image: mongo:7.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1.0.2-20
    depends_on:
      - mongodb
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    ports:
      - "8086:8081"

  jobmanager:
    build:
      context: ../apps/stream-job
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      FLINK_PROPERTIES: |
        jobmanager.rpc.address: jobmanager
        python.executable: /opt/stream-job/.venv/bin/python
        python.client.executable: /opt/stream-job/.venv/bin/python


  taskmanager:
    build:
      context: ../apps/stream-job
      dockerfile: Dockerfile
    depends_on:
      - jobmanager
    command: taskmanager
    environment:
      FLINK_PROPERTIES: |
        jobmanager.rpc.address: jobmanager
        python.executable: /opt/stream-job/.venv/bin/python
        python.client.executable: /opt/stream-job/.venv/bin/python
        taskmanager.numberOfTaskSlots: 2


  api:
    build:
      context: ../apps/api
      dockerfile: Dockerfile
    ports:
      - "18000:8000"
    env_file:
      - ./.env.api
    depends_on:
      - db
      - redis

  stream-job:
    build:
      context: ../apps/stream-job
      dockerfile: Dockerfile
    depends_on:
      - jobmanager
      - taskmanager
    command: >
      sh -c "until curl -sf http://jobmanager:8081/ > /dev/null; do sleep 2; done;
      flink run -m jobmanager:8081 -py /opt/stream-job/app/job.py
      -pyexec /opt/stream-job/.venv/bin/python
      -pyclientexec /opt/stream-job/.venv/bin/python"

  mongo-writer:
    build:
      context: ../apps/mongo-writer
      dockerfile: Dockerfile
    env_file:
      - ./.env.mongo-writer
    depends_on:
      - kafka
      - mongodb


volumes:
  postgres_data:
  redis_data:
  mongo_data:
